server {
  listen       ${NGINX_PORT};
  server_name  ${NGINX_SERVER_API_HOST};

  location / {
    proxy_pass      ${NGINX_SERVER_API_PROXY};
  }
}

server {
  listen       ${NGINX_PORT};
  server_name  ${NGINX_SWAGGER_SERVER_API_HOST};

  location / {
    proxy_pass      ${NGINX_SWAGGER_SERVER_API_PROXY};
  }
}
